<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/main.js}" defer></script>
    <link rel="stylesheet"
          th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'}"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>STAMILY</title>
</head>
<body>
    <div id="wrap">

        <!-- header -->
        <header id="header">
            <div class="header container">
                <div class="logo"><a th:href="@{/main}">STAMILY</a></div>
                <div class="input-box">
                    <form action="#" method="get" name="search-form" id="search-form">
                        <input type="text" id="search-text" name="search-text" placeholder="검색할 방과후명을 작성해주세요">
                        <button type="submit" id="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="mypage">
                    <div class="mypage-icon">
                        <i class="fa-solid fa-circle-user fa-2x"></i>
                    </div>
                    <ul class="mypage-more">
                        <li>
                            <a th:href="@{/auth}" sec:authorize="isAnonymous()">SIGN IN</a>
                            <a th:href="@{/auth/logout}" sec:authorize="isAuthenticated()">LOG OUT</a>
                        </li>
                        <hr>
                        <li><a href="#">MY PAGE</a></li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- nav -->    
            <nav id="nav">
                <div class="nav container">
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                    </ul>
                </div>
            </nav>
            <hr>
        </header>

        <!-- main -->
        <main id="main">
            <article class="dummy"></article>
            
            <!-- class topics -->
            <h3 class="topic-title">강의 목록</h3>
            <section class="bg-topic">
                <div class="topic">
                    <div class="topic-img"></div>
                    <div class="topic-info">
                        <h4 class="topic-name">class name</h4>
                        <ul class="topic-desc">
                            <li>teacher name</li>
                            <li>class of day</li>
                            <li>class target</li>
                        </ul>
                        <div class="categorys">
                            <span class="category fir">category</span>
                            <span class="category sec">category</span>
                            <span class="category thr">category</span>
                        </div>
                    </div>
                </div>
                <div class="topic">
                    <div class="topic-img"></div>
                    <div class="topic-info">
                        <h4 class="topic-name">class name</h4>
                        <ul class="topic-desc">
                            <li>teacher name</li>
                            <li>class of day</li>
                            <li>class target</li>
                            <li>category</li>
                        </ul>
                        <div class="categorys">
                            <span class="category fir">category</span>
                        </div>
                    </div>
                </div>
                <div class="topic">
                    <div class="topic-img"></div>
                    <div class="topic-info">
                        <h4 class="topic-name">class name</h4>
                        <ul class="topic-desc">
                            <li>teacher name</li>
                            <li>class of day</li>
                            <li>class target</li>
                            <li>category</li>
                        </ul>
                        <div class="categorys">
                            <span class="category fir">category</span>
                        </div>
                    </div>
                </div>
                <div class="topic">
                    <div class="topic-img"></div>
                    <div class="topic-info">
                        <h4 class="topic-name">class name</h4>
                        <ul class="topic-desc">
                            <li>teacher name</li>
                            <li>class of day</li>
                            <li>class target</li>
                            <li>category</li>
                        </ul>
                        <div class="categorys">
                            <span class="category fir">category</span>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- footer -->
        <footer id="footer">
            <div class="footer container">
                <div class="content">
                    Copyright by Double Lee (이서영, 이솔지)
                </div>
                <div class="logo">STAMILY</div>
            </div>
        </footer>
    </div>
</body>
</html>
