<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sign.css}">
    <script th:src="@{/js/sign.js}" defer></script>
    <title>Sign</title>
</head>
<body>
<div id="wrap">
    <!-- logo: back to home -->
    <div id="logo"><a th:href="@{/main}">STAMILY</a></div>

    <div id="signup-wrap" class="sign-wrap">
        <!-- signup box -->
        <div id="signup-box" class="sign-box">
            <h1 id="title">Sign Up</h1>
            <form th:action="@{/auth/signup}" method="post" id="signupForm" name="signupForm">
                <!-- job -->
                <fieldset class="jobs">
                    <legend>직업을 선택해주세요.</legend>

                    <div class="student">
                        <input type="radio" id="u-student" name="job" value="student">
                        <label for="u-student">학생</label>
                    </div>

                    <div class="teacher">
                        <input type="radio" id="u-teacher" name="job" value="teacher">
                        <label for="u-teacher">선생</label>
                    </div>
                </fieldset>

                <!-- name -->
                <div class="name info">
                    <input type="text" class="name" name="name" placeholder="Name">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- nickname -->
                <div class="nickname info">
                    <input type="text" class="nickname" name="nickname" placeholder="Nickname">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- password -->
                <div class="password info">
                    <input type="password" class="password" name="password" placeholder="Password">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- password check -->
                <div class="password-chk info">
                    <input type="password" class="password-chk" name="checkPassword" placeholder="Check Password">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- email -->
                <div class="email info">
                    <input type="text" class="email" name="email" placeholder="Email">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- phone -->
                <div class="phone info">
                    <input type="text" class="phone" name="phone" placeholder="Phone Number">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- graduation status -->
                <div id="gradu">
                    <p>재학생인가요?</p>

                    <div class="container">
                        <div class="yes">
                            <input type="radio" id="gradu-yes" name="attended" value="enrolled">
                            <label for="gradu-yes">네</label>
                        </div>
                        <div class="no">
                            <input type="radio" id="gradu-no" name="attended" value="graduated">
                            <label for="gradu-no">아니요, 졸업생입니다.</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="sign-btn">가  입</button>
            </form>
        </div>

        <!-- toggle btn -->
        <div class="toggle-box">
            <div id="signin-toggle" class="toggle">
                <p>계정이 있으신가요?</p>
                <span>로그인 하러가기</span>
            </div>
        </div>
    </div>

    <div id="signin-wrap" class="sign-wrap">
        <!-- toggle btn -->
        <div class="toggle-box">
            <div id="signup-toggle" class="toggle">
                <p>계정이 없으신가요?</p>
                <span>회원가입 하러가기</span>
            </div>
        </div>

        <!-- signin box -->
        <div id="signin-box" class="sign-box">
            <h1 id="title">Sign In</h1>
            <form th:action="@{/auth/login}" method="post" id="signinForm" name="signinForm" >
                <!-- job -->
                <fieldset class="jobs">
                    <legend>직업을 선택해주세요.</legend>

                    <div class="student">
                        <input type="radio" id="i-student" name="job" value="student">
                        <label for="i-student">학생</label>
                    </div>

                    <div class="teacher">
                        <input type="radio" id="i-teacher" name="job" value="teacher">
                        <label for="i-teacher">선생</label>
                    </div>
                </fieldset>

                <!-- name -->
                <div class="name info">
                    <input type="text" class="name" name="name" placeholder="Name">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- nickname -->
                <div class="nickname info">
                    <input type="text" class="nickname" name="nickname" placeholder="Nickname">
                    <span></span>
                    <div class="message"></div>
                </div>

                <!-- password -->
                <div class="password info">
                    <input type="password" class="password" name="password" placeholder="Password">
                    <span></span>
                    <div class="message"></div>
                </div>

                <button type="submit" class="sign-btn">로그인</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>